body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
  font-family: 'Montserrat', sans-serif;

}

h1 {
  font-size: 6em;
  color: #789395;
  margin: 50px auto 0 auto;
  font-family: 'Tangerine', cursive;
  line-height: 2;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  color: #789395;
  font-weight: normal;
}

h3{
  font-family: 'Raleway', sans-serif;
  color: #94B49F;
}

a{
  color: #94B49F;
}

.top-container {
  background-color: #E5E3C9;
  position:relative;
  padding-top: 100px;
}

 .middle-container {

 }

 .bottom-container {

}
.circleImage {
  border-radius: 200px;
  width: 25%;
}

.imageFloatLeft{
  float: left;
  margin-right: 30px;
}

.imageFloatRight{
  float: right;
  margin-left: 30px;
}

.profileImage{
  border-radius: 210px;
  width: 210px;
  text-align: center;
}

.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  top:30px;
  right: 300px;
}
